@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #fff;
    font-size: 16px;
    font-family: 'Inter' , sans-serif;
}
.main-container{
    display: grid;
    grid-template-columns: 1fr minmax(1440px, 94%) 1fr;
    grid-template-rows: 96px auto 72px;
}

.main-container > * {
    grid-column: 2;
}

.main-container > .fluid {
    grid-column:  1 / -1;
}