.containerWrapper{
    display: flex;
    width: 550px;
    height: 650px;
    background-color: #bbb;
    border: 1px solid black;
    border-top: 0;
    border-radius: 10px;
}
.navigationMenu{
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.navigationMenu a{
    display: flex;
    height: 45px;
    width: 50%;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid black;
    border-radius: 10px 10px 0 0;
    
}
.navigationMenu a.active{
    color: white;
    border: 1px solid black;
    border-bottom: 0;
    border-left: 0;
    border-radius: 10px 10px 0 0;
}