.header{

}
.headerWrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.logo{
    display: flex;
    align-items: center;
    gap: 5px;
    letter-spacing: -0.5px;
    font-size: 28px;
}
.searchBar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 1px solid black;
    border-radius: 15px;
    padding: 2px 15px;
    width: 350px;
}
.searchBar input{
    border: 0;
    outline: 0;
    width: 90%;
    background: transparent;
}
.navigationMenu{
    display: flex;
    gap: 15px;
    font-weight: 700;
    letter-spacing: 2px;
}
.navigationMenu *{ 
    border-radius: 15px;
    padding: 3px 11px;
}